
* {
    padding: 0;
    margin: 0;
}


body {
    padding: 20px;
}

#tudlist, #projectList {
    margin-bottom: 20px;
}

#tudlist span {
    background-color: black;
    color: wheat;
    padding: 5px;
    cursor: pointer;
}


.edittext {
    display: none;
    padding: 5px 5px;
}

.edittext.showed {
    display: inline !important;
}


.item, .taskItem {
    margin-bottom: 20px;
}

.item .name, .taskItem .name {
    padding: 5px 15px;
    border: 1px solid rgb(128, 108, 82);
}

.taskItem.maded {
    text-decoration: line-through;
}

.okBtn.showed {
    display: inline;
}


.delBtn, .okBtn, .madedBtn, .editBtn, .showTasksBtn {
    margin: 0 5px;
    border: 1px solid red;
    padding: 5px;
    cursor: pointer;
}

.okBtn {
    display: none;
}


.hidden {
    display: none !important;
}
